:host {
    width: 100%;

    .visual-button {
        .title {
            margin-bottom: 1rem;
        }

        height: 100%;
        width: height;
        pointer-events: none;

        div {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
    }
}