:host {
    --element-size: 30px;
    --element-gap: 120px;

    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -10;
    top: 0;
    left: 0;

    padding: 4vh;
    padding-top: calc(64px + 4vh);
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    gap: var(--element-gap);


    .bg-element {
        --animation-duration: 8s;
        --animation-delay: 0s;

        font-size: var(--element-size);
        user-select: none;
        color: var(--mat-sys-primary);
        opacity: 0;

        animation-name: glimmer;
        animation-duration: var(--animation-duration);
        animation-delay: var(--animation-delay);
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in;
        animation-fill-mode: both;
    }
}

@keyframes glimmer {
    0%, 80% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
      opacity: 1;
      transform: scale(2.5);
    }
}