@use '@angular/material' as mat;

:host {
    flex: 1 1 auto;
    border-radius: 12px;
    overflow: hidden;
    padding: 2vh;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    column-gap: 2vh;

    background-image: url("/backgrounds/bg1.jpg");
    background-position: center;
    background-size: cover;
        
    --card-back: url("/cards/back.svg");
    --placeholder: url("/cards/placeholder.svg");
    --clubs-placeholder: url("/cards/clubs_placeholder.svg");
    --diamonds-placeholder: url("/cards/diamonds_placeholder.svg");
    --hearts-placeholder: url("/cards/hearts_placeholder.svg");
    --spades-placeholder: url("/cards/spades_placeholder.svg");

    @include mat.divider-overrides((
        color: white,
    ));
}
:host.light-mode {
    --card-back: url("/cards/back_light.svg");
}

.left-container {
    min-width: fit-content;
    height: 100%;
    overflow: visible;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    row-gap: 2vh;

    .foundation {  
        min-width: fit-content;
        height: 18vh;
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 2vh;
    }

    .deck-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 2vh;
        justify-content: space-between;

        .waste-stack:has(.card:nth-last-child(3)) {
            .card:nth-last-child(1) {
                margin-left: 3vh;
            }
        }
        
        .waste-stack:has(.card:nth-last-child(4)) {
            .card:nth-last-child(2) {
                margin-left: 3vh;
            }
            .card:nth-last-child(1) {
                margin-left: 6vh;
            }
        }
    }
}

.right-container {
    flex: 1 1 auto;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    

}

.card-stack-foundation {
    display: grid;
    height: 18vh;

    > * {
        grid-row: 1;
        grid-column: 1;
    }
}

.card-stack-tableau > :first-child {
    margin-bottom: -18vh;
}

.card-stack {
    --total-cards: 0;
    height: calc(18vh + (var(--total-cards) - 1) * 4.5vh);
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    > * {
        box-sizing: border-box;
        margin-bottom: -13.5vh;
    }

    :nth-last-child(1) {
        margin-bottom: 0;
    }
}

.spacer {
    flex-grow: 1;
}

.card {
    height: 18vh;
    aspect-ratio: 63 / 88; // 0.715909; // 63mm x 88mm

    border-style: solid;
    border-color: var(--mat-sys-outline);
    border-width: 1px;
    border-radius: 12px;
    box-sizing: border-box;

    background-position: center;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: var(--placeholder);
}

.card-hidden {
    background-image: var(--card-back);
}

.highlighted-card {
    box-shadow: 0 0 0.5vh 0.5vh gold inset;

    ~ * {
        box-shadow: 0 0 0.5vh 0.5vh gold inset;
    }
}

.card-back {
    background-image: var(--card-back);
}

.placeholder-clubs {
    background-image: var(--clubs-placeholder);
}

.placeholder-diamonds {
    background-image: var(--diamonds-placeholder);
}

.placeholder-hearts {
    background-image: var(--hearts-placeholder);
}

.placeholder-spades {
    background-image: var(--spades-placeholder);
}