<div class="solitaire-container flex flex-column flex-nowrap justify-content-start align-items-stretch p-2">
    <div class="solitaire-container flex-auto flex flex-column flex-nowrap justify-content-start align-items-stretch row-gap-2">
        <div>
            <app-top-bar></app-top-bar>
        </div>
        <div *ngIf="cards && board" class="flex-auto flex flex-column flex-nowrap justify-content-start align-items-stretch row-gap-2">
            <div class="solitaire-top-container flex flex-row flex-nowrap justify-content-between align-items-start">
                <div class="flex-auto flex flex-row flex-nowrap justify-content-start column-gap-4">
                    <div *ngFor="let f of board.foundation; let i = index" pDroppable (onDrop)="dropOnFoundation(i, f)" class="solitaire-card-stack">
                        <!-- 'highlighted-card': isHighlighted_placeholder(f) -->
                        <div class="solitaire-card"
                        [ngClass]="{
                            'bg-card-clubs': i === 0,
                            'bg-card-diamonds': i === 1,
                            'bg-card-hearts': i === 2,
                            'bg-card-spades': i === 3,
                            
                        }"></div>
                        <!-- 'highlighted-card': isHighlighted(f, j) -->
                        <div class="solitaire-card"
                        *ngFor="let cardId of f; let j = index"
                        [ngClass]="{
                            
                        }"
                        [ngStyle]="{'background-image': 'url(/assets/cards/'+ cards[cardId].picture +'.svg)'}"
                        pDraggable
                        (onDragStart)="dragStart($event, f, j)"
                        (onDragEnd)="dragEnd()"></div>
                    </div>
                </div>
                <div class="solitaire-deck-container flex-auto flex flex-row flex-nowrap justify-content-end gap-4">
                    <div class="solitaire-card-stack"
                    [ngClass]="{
                        'deck-waste-spread-1': board.deckWaste.length < 2,
                        'deck-waste-spread-2': board.deckWaste.length == 2,
                        'deck-waste-spread-3': board.deckWaste.length > 2,
                        
                    }">
                        <div  class="solitaire-card bg-card-placeholder"></div>
                        <!-- 'highlighted-card': isHighlighted(board.deckWaste, i) -->
                        <div class="solitaire-card"
                        *ngFor="let cardId of board.deckWaste; let i = index"
                        [ngClass]="{
                            'non-interactable': i !== board.deckWaste.length - 1
                        }"
                        [ngStyle]="{'background-image': 'url(/assets/cards/'+ cards[cardId].picture +'.svg)'}"
                        pDraggable
                        (onDragStart)="dragStart($event, board.deckWaste, i)"
                        (onDragEnd)="dragEnd()"></div>
                    </div>
                    <!-- 'highlighted-card': isHighlighted_deck(), -->
                    <div class="solitaire-card"
                    (click)="drawCards()"
                    [ngClass]="{

                        'bg-card-back': board.deckStock.length != 0,
                        'bg-card-placeholder': board.deckStock.length == 0
                    }"></div>
                </div>
            </div>
            <div class="solitaire-tableau-container flex-auto flex flex-row justify-content-evenly align-items-start overflow-hidden gap-2">
                <div *ngFor="let tab of board.tableau" pDroppable (onDrop)="dropOnTableau(tab)">
                    <!-- 'highlighted-card': isHighlighted_placeholder(tab) -->
                    <div class="solitaire-card bg-card-tableau-placeholder" [ngClass]="{

                    }"></div>
                    <!-- 'highlighted-card': isHighlighted(tab, i) -->
                    <div class="solitaire-card"
                    *ngFor="let cardId of tab; let i = index"
                    [ngClass]="{
                        'tableau-stack-element': i !== 0 && tab.length < 13,
                        'tableau-stack-element-compact-1': i !== 0 && tab.length == 13,
                        'tableau-stack-element-compact-2': i !== 0 && tab.length == 14,
                        'tableau-stack-element-compact-3': i !== 0 && tab.length == 15,
                        'tableau-stack-element-compact-4': i !== 0 && tab.length == 16,
                        'tableau-stack-element-compact-5': i !== 0 && tab.length == 17,
                        'tableau-stack-element-compact-6': i !== 0 && tab.length == 18,
                        'tableau-stack-element-compact-7': i !== 0 && tab.length > 18,
                        'non-interactable': !(cards[cardId].movable),
                        
                    }"
                    [ngStyle]="{'background-image': (cards[cardId].faceShown)? 'url(/assets/cards/'+ cards[cardId].picture +'.svg)' : 'url(/assets/cards/back_0.svg'}"
                    pDraggable
                    (onDragStart)="dragStart($event, tab, i)"
                    (onDragEnd)="dragEnd()"></div>
                </div>
            </div>
        </div>
    </div>
    <div  *ngIf="cards && board" id="card-stack-dragged">
        <div class="solitaire-card"
        *ngFor="let cardId of draggedCards; let i = index" 
        [ngClass]="{
            'tableau-stack-element': i !== 0 && draggedCardsOrigin!.length < 13,
            'tableau-stack-element-compact-1': i !== 0 && draggedCardsOrigin!.length == 13,
            'tableau-stack-element-compact-2': i !== 0 && draggedCardsOrigin!.length == 14,
            'tableau-stack-element-compact-3': i !== 0 && draggedCardsOrigin!.length == 15,
            'tableau-stack-element-compact-4': i !== 0 && draggedCardsOrigin!.length == 16,
            'tableau-stack-element-compact-5': i !== 0 && draggedCardsOrigin!.length == 17,
            'tableau-stack-element-compact-6': i !== 0 && draggedCardsOrigin!.length == 18,
            'tableau-stack-element-compact-7': i !== 0 && draggedCardsOrigin!.length > 18
        }"
        [ngStyle]="{'background-image': 'url(/assets/cards/'+ cards[cardId].picture +'.svg)'}"></div>
    </div>
    <div id="ghost-image"></div>
    <!-- todo: odvojiti u bottom bar komponentu nakon ngrx transformacije . . . -->
    <p-toolbar styleClass="bg-black-alpha-20 border-transparent border-none">
        <div class="p-toolbar-group-start">
            
        </div>
        <div id="demo-buttons" class="p-toolbar-group-center">
            <p-button class="mr-2" [outlined]="true" (onClick)="pressed_newGameButton()">New game</p-button>
            <p-button class="mr-2" [outlined]="true" (onClick)="pressed_changeDifficultyButton()">Change difficulty</p-button>
            <p-button class="mr-2" [outlined]="true" (onClick)="pressed_showHintButton()">Show hint</p-button>
            <p-button class="mr-2" [outlined]="true" (onClick)="pressed_showFakeGameEndButton()">Fake game end</p-button>
            <p-button class="mr-2" [outlined]="true" (onClick)="pressed_logButton()">Log</p-button>
            <p-button class="mr-2" [outlined]="true" (onClick)="pressed_undoButton()">Undo</p-button>
        </div>
        <div class="p-toolbar-group-end">

        </div>
    </p-toolbar>
        
    <app-new-game-confirmation [(visible)]="newGameConfirmationVisible" [diffChange]="false" (newGame)="startNewGame(difficulty.Hard)"></app-new-game-confirmation>
    <app-new-game-confirmation [(visible)]="changeDiffConfirmationVisible" [diffChange]="true" (newGame)="changeDifficulty()"></app-new-game-confirmation>
    <app-game-end [(visible)]="gameEndVisible" (newGame)="startNewGame()"></app-game-end>

</div>