# Node and build output
node_modules
dist
out-tsc
.angular
.cache
.tmp

# Testing & Coverage
coverage
jest
cypress
cypress/screenshots
cypress/videos
reports
playwright-report
.vite
.vitepress

# Environment & log files
*.env*
!*.env.production  # Only allow production env file
!.env.example
*.log
*.tsbuildinfo

# IDE & OS-specific files
.vscode
.idea
.DS_Store
Thumbs.db
*.swp

# Version control
.git
.gitignore

# Docker files
Dockerfile
Dockerfile.*
docker-compose.yml
docker-compose*.yml

# Miscellaneous
*.bak
*.old
*.tmp