@use '@angular/material' as mat;

:host {
    overflow: hidden;
}

mat-toolbar {
    display: flex;
    border-radius: 12px;

    @include mat.toolbar-overrides((
        container-background-color: var(--mat-sys-primary-container),
        container-text-color: var(--mat-sys-on-primary-container),
    ));
}

.transparent-backdrop {
    background: transparent;
}

.title-btn {
    font: var(----mat-sys-display-medium);
}

.icon-btn {
    @include mat.icon-overrides((
        color: var(--mat-sys-on-primary-container)
    ));
}

.ml-05 {
    margin-left: 0.5rem;
}

.top-bar-spacer {
    flex: 1 1 auto;
}
