<p-toolbar styleClass="bg-black-alpha-20 border-transparent border-none">
    <div class="top-bar-group-start">
        <p-button icon="pi pi-arrow-left" [outlined]="true" (onClick)="loadHomePage()" class="mr-2"></p-button>
        <app-audio-control></app-audio-control>
    </div>
    <div class="top-bar-group-center flex flex-row flex-nowrap justify-content-center flex-auto">
        <div class="mr-4">Time: {{ timeString$ | async }}</div>
    </div>
    <div class="top-bar-group-end">
        Klondike solitaire: {{ gameDifficulty$ | async }}
    </div>
</p-toolbar>
