<div class="home-container">
    <div class="home-content">
        <div class="home-account-buttons-container">
            <span>dodati da se ovo menja ako je korisnik ulogovan app state itd</span>
            <p-button label="Log in" icon="pi pi-sign-in" severity="primary" />
            <p-button label="Register" icon="pi pi-user-plus" severity="secondary" />
        </div>
        <div class="home-spacer-075"></div>
        <div class="home-title-container">
            <div class="home-title-row-1">RWA</div>
            <div class="home-title-row-2">CARD GAMES</div>
        </div>
        <div class="home-spacer-025"></div>
        <div class="home-quick-play-container">
            <div class="home-quick-play-row-1">
                QUICK PLAY
            </div>
            <div class="home-quick-play-row-2">
                <p-button label="Klondike" size="large" (onClick)="loadGamePage('klondike')" />
                <p-button label="Spider" size="large" (onClick)="loadGamePage('spider')" />
                <p-button label="FreeCell" size="large" (onClick)="loadGamePage('freecell')" />
                <p-button label="Pyramid" size="large" (onClick)="loadGamePage('pyramid')" />
                <p-button label="TriPeaks" size="large" (onClick)="loadGamePage('tripeaks')" />
            </div>
            <div class="home-spacer-010"></div>
            <div class="home-quick-play-row-3">
                <p-button label="Leaderboards" icon="pi pi-users" severity="secondary" (onClick)="loadLeaderboardsPage()" />
            </div>
        </div>
        <div class="home-spacer-15"></div>
        <div class="home-about-container">
            <p-button label="About page" severity="secondary" (onClick)="loadAboutPage()" />
        </div>
    </div>
</div>
    