<div class="home-container">
    <div class="home-account-buttons-container">
            <p-button label="Log in" icon="pi pi-sign-in" severity="primary" />
            <p-button label="Register" icon="pi pi-user-plus" severity="secondary" />
    </div>
    <div class="home-spacer-075"></div>
    <div class="home-title-container">
        <div class="home-title-row-1">RWA</div>
        <div class="home-title-row-2">CARD GAMES</div>
    </div>
    <div class="home-spacer-025"></div>
    <div class="home-quick-play-container">
        <div class="home-quick-play-row-1">
            QUICK PLAY
        </div>
        <div class="home-quick-play-row-2">
            <p-button label="Klondike" size="large" />
            <p-button label="Spider" size="large" />
            <p-button label="FreeCell" size="large" />
            <p-button label="Pyramid" size="large" />
            <p-button label="TriPeaks" size="large" />
        </div>
        <div class="home-quick-play-row-3">
            <p-button label="Leaderboards" icon="pi pi-users" severity="secondary" />
        </div>
    </div>
    <div class="home-spacer-05"></div>
    
    
    <div class="home-spacer-1">
    </div>
    <div class="home-about-container">
        <p-button label="About page" severity="secondary" (onClick)="loadAboutPage()" />
    </div>
    <!-- <i class="pi pi-spin pi-times"></i>
    <span class="pi pi-spin" style="font-size: 3rem;">♠♥♣♦♤♡♧♢</span>
    <span class="pi pi-spin">rand text</span>  -->
</div>
