:host {
    flex: 1 1 auto;
    position: relative;
    border-radius: 12px;
    overflow: hidden;

    padding-left: 60px;
    padding-right: 60px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
    gap: 120px;


    .bg-element {
        font-size: 30px;
        user-select: none;
        color: var(--mat-sys-primary);
        opacity: 0;

        animation-name: glimmer;
        animation-duration: 8s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in;
        animation-fill-mode: both;
    }

    .home-card {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        max-width: 40rem;
    }

    mat-card-content {
        text-align: center;

        .title {
            font: var(--mat-sys-display-large)
        }

        .label {
            font: var(--mat-sys-label-large);
            font-weight: 900;
            
        }

    }

    .quick-play {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: baseline;
        * {
            margin: 8px 8px;
        }
    }
}

@keyframes glimmer {
    0%, 80% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
      opacity: 1;
      transform: scale(2.5);
    }
}