<mat-card>
    <mat-card-title>Title card</mat-card-title>
    <mat-card-content>Card content123</mat-card-content>
</mat-card>

<!-- <div class="home-container flex flex-column flex-nowrap justify-content-start align-items-stretch p-2">
    <div class="flex-auto flex flex-column flex-nowrap justify-content-between align-items-center">
        <div class="flex flex-row flex-nowrap justify-content-start align-self-end fadeinright animation-duration-2000 animation-iteration-1 animation-ease-in-out gap-2">
             <p-button label="Log in" icon="pi pi-sign-in" severity="primary" />
            <p-button label="Register" icon="pi pi-user-plus" severity="secondary" />
            <p-button label="Leaderboards" icon="pi pi-users" severity="secondary" class="ml-3" (onClick)="loadLeaderboardsPage()" />
        </div>
        <div class="flex flex-column justify-content-center align-items-center">
            <div class="font-title flex-auto fadeinright animation-duration-1000 animation-iteration-1 animation-ease-in-out">
                RWA SOLITAIRE
            </div>

            <div class="buttons-container flex flex-column flex-nowrap justify-content-start align-items-stretch fadeinleft animation-duration-1000 animation-iteration-1 animation-ease-in-out row-gap-2">
                <div class="align-self-start font-bold mt-4">
                    QUICK PLAY
                </div>
                <div>
                    <mat-slide-toggle>Toggle me!</mat-slide-toggle>
                </div>
                <div class="flex flex-row flex-nowrap justify-content-between column-gap-2">
                    <p-button label="Easy" (onClick)="loadSolitairePage(difficulty.Easy)" />
                    <p-button label="Hard" (onClick)="loadSolitairePage(difficulty.Hard)" />
                </div>
            </div>

        </div>
        <div class="home-about-container fadeinleft animation-duration-2000 animation-iteration-1 animation-ease-in-out">
            <p-button label="About" icon="pi pi-info-circle" severity="secondary" (onClick)="loadAboutPage()" />
            <p-button label="dark" icon="pi pi-info-circle" severity="secondary" (onClick)="toggleDarkMode()" />
        </div>
    </div>
</div> -->