<mat-card>
    <mat-card-content>
        <div class="card-content-left">
            <span class="title">Welcome to RWA Solitaire</span>
            <p class="info">This project was developed for the Razvoj Web Aplikacija course and presents a modern take on the classic Solitaire game. Built using modern web development technologies.</p>
        </div>
        <mat-divider vertical="true"></mat-divider>
        <div class="card-content-right">
            <span>Quickplay</span>
            <button mat-fab extended (click)="loadSolitairePage(difficulty.Easy)">
                <mat-icon>star</mat-icon>
                <mat-icon>star_outline</mat-icon>
                <mat-icon>star_outline</mat-icon>
                Easy
            </button>
            <button mat-fab extended (click)="loadSolitairePage(difficulty.Hard)">
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                <mat-icon>star</mat-icon>
                Hard
            </button>
        </div>
    </mat-card-content>
</mat-card>
