<p>card-test works!</p>
<div class="card-main-container">
    <div class="card-left-container" pDroppable (onDrop)="drop(containerArray[0])" dropEffect="move">
        <p>Left container</p>
        <div class="card-left-content">
            <p *ngFor="let el of containerArray[0].elements"
            pDraggable
            (onDragStart)="dragStart(el)"
            (onDragEnd)="dragEnd()"
            dragEffect="move">
                {{el.value}}
            </p>
        </div>
    </div>
    <div class="card-right-container" pDroppable (onDrop)="drop(containerArray[1])" dropEffect="move">
        <p>Right container</p>
        <div class="card-right-content">
            <p *ngFor="let el of containerArray[1].elements"
            pDraggable
            (onDragStart)="dragStart(el)"
            (onDragEnd)="dragEnd()"
            dragEffect="move">
                {{el.value}}
            </p>
        </div>
    </div>
</div>