<div class="spacer"></div>
<mat-card>
    <mat-card-content>
        <app-user-stats></app-user-stats>
        <div class="buttons">
            <button mat-raised-button (click)="continueGame()">Continue</button>
            <div class="new-game-buttons">
                <button mat-mini-fab (click)="setDifficulty(SolitaireDifficulty.Easy)" [disabled]="(this.difficulty === SolitaireDifficulty.Easy)"><mat-icon>remove</mat-icon></button>
                <button mat-raised-button (click)="loadSolitairePage()">Start new game ({{ SolitaireDifficulty[this.difficulty] }})</button>
                <button mat-mini-fab (click)="setDifficulty(SolitaireDifficulty.Hard)" [disabled]="(this.difficulty === SolitaireDifficulty.Hard)"><mat-icon>add</mat-icon></button>
            </div>
            <button mat-raised-button (click)="loadLeaderboardsPage()">Leaderboards</button>
            <button mat-raised-button (click)="loadEditProfilePage()">Edit profile</button>
            <button mat-raised-button (click)="logout()">Log out</button>
        </div>
    </mat-card-content>
</mat-card>
<div class="spacer"></div>
