:host {
    flex: 1 1 auto;
    position: relative;
    border-radius: 12px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    .spacer {
        flex: 1 1 auto;
    }

    mat-card {
        min-width: 30rem;
        width: fit-content;

        mat-card-content {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: stretch;
            row-gap: 0.75rem;
            column-gap: 0.75rem;

            .buttons {
                min-width: 20rem;
                flex: 3 1 auto;

                display: flex;
                flex-flow: column nowrap;
                justify-content: flex-start;
                align-items: stretch;
                row-gap: 0.75rem;
            }

            .new-game-buttons {
                display: flex;
                flex-flow: row nowrap;
                justify-content: flex-start;
                align-items: center;
                column-gap: 0.75rem;

                * {
                    flex: 0 1 auto;
                }

                :nth-child(2) {
                    flex-grow: 1;
                }
            }
        }
    }
}
