<p-toolbar styleClass="bg-black-alpha-20 border-transparent border-none">
    <div class="top-bar-group-start">
        <p-button icon="pi pi-arrow-left" [outlined]="true" (onClick)="loadHomePage();"></p-button>
    </div>
    <div class="top-bar-group-center flex flex-row flex-nowrap justify-content-center flex-auto">
        <div class="mr-4">Timer: 00:00</div>
        <div class="ml-4">Score: 0</div>
    </div>
    <div class="top-bar-group-end">
        Klondike solitaire
    </div>
</p-toolbar>
