:host {
    height: 100vh;
    width: 100vw;
    padding: 2vh;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;

    :first-child {
        margin-bottom: 2vh;
    }
}