<!-- <p>about works!</p>
<h4>Key Features:</h4>
        <mat-list>
            <mat-list-item>
                <span matListItemIcon><mat-icon>double_arrow</mat-icon></span>
                <span matListItemTitle>Built with Angular</span>
                <span matListItemLine>Leveraging the power of a dynamic framework for a responsive and interactive user experience.</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemIcon><mat-icon>double_arrow</mat-icon></span>
                <span matListItemTitle>State Management with NgRx</span>
                <span matListItemLine>Demonstrating efficient state handling for a seamless gameplay experience.</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemIcon><mat-icon>double_arrow</mat-icon></span>
                <span matListItemTitle>Reactive Programming with RxJS</span>
                <span matListItemLine>Enhancing user interaction with powerful reactive streams.</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemIcon><mat-icon>double_arrow</mat-icon></span>
                <span matListItemTitle>Backend with NestJS</span>
                <span matListItemLine>Providing a robust platform that tracks player statistics, manages leaderboards.</span>
            </mat-list-item>
        </mat-list> -->