
.klondike-container {
    height: 100vh;
    overflow: hidden;

    .klondike-top-container {

        min-height: 18vh;
        height: fit-content;
        max-height: 20%;
        overflow: hidden;

        .klondike-foundation-stack {
            display: grid;

            > * {
                grid-row: 1;
                grid-column: 1;
            }
        }

        .klondike-deck-container {
            width: fit-content;
            max-width: 40%;
            overflow: hidden;

            .klondike-deck-waste {
                *:not(:last-child) {
                    margin-right: -10vh;
                }
            }
        }
    }

    .tableau-card-stack {
        margin-top: -13.5vh;
    }

    .klondike-card {
        height: 18vh;
        aspect-ratio: 0.714285; // 2.5 x 3.5

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .bg-card-back {
        background-image: url("../../../assets/cards/back_1.svg");
    }

    .bg-card-back-alternative {
        background-image: url("../../../assets/cards/back_2.svg");
    }

    .bg-card-back-2 {
        background-image: url("../../../assets/cards/back_3.svg");
    }

    .bg-card-back-2-alternative {
        background-image: url("../../../assets/cards/back_4.svg");
    }

    .bg-card-placeholder {
        background-image: url("../../../assets/cards/placeholder_default.svg");
    }

    .bg-card-clubs {
        background-image: url("../../../assets/cards/placeholder_clubs.svg");
    }

    .bg-card-diamonds {
        background-image: url("../../../assets/cards/placeholder_diamonds.svg");
    }

    .bg-card-hearts {
        background-image: url("../../../assets/cards/placeholder_hearts.svg");
    }

    .bg-card-spades {
        background-image: url("../../../assets/cards/placeholder_spades.svg");
    }

}