
.klondike-container {
    height: 100vh;
    overflow: hidden;

    .klondike-top-container {

        height: fit-content;
        max-height: 20%;
        overflow: hidden;

        .klondike-foundation-stack {
            display: grid;

            > * {
                grid-row: 1;
                grid-column: 1;
            }
        }



        .klondike-deck-container {
            width: fit-content;
            max-width: 40%;
            overflow: hidden;
            .klondike-deck-stock {
                *:not(:last-child) {
                    margin-right: -3rem;
                }
            }
        }
    }

    .card-stack-margin {
        margin-top: -13.5vh;
    }

    // .klondike-tableau-container {

    // }

    .red {
        background-color: red;
    }

    .klondike-card {
        // 1.45 ratio
        height: 18vh;
        aspect-ratio: 0.714285;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;



    }

    .klondike-card-default {
        height: 18vh;
        aspect-ratio: 0.714285;

        background-image: url("../../../assets/cards/back_1.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

}