
.klondike-container {
    height: 100vh;
    //overflow: hidden;

    .klondike-top-container {

        height: fit-content;
        max-height: 25%;
        overflow: hidden;

        .klondike-deck-container {
            width: fit-content;
            max-width: 40%;
            overflow: hidden;
            .klondike-deck-stock {
                *:not(:last-child) {
                    margin-right: -3rem;
                }
            }
        }
    }

    // .klondike-tableau-container {

    // }

    .red {
        background-color: red;
    }

    .klondike-card {
        // 1.45 ratio
        //width: 10vw;

        color: black;

        height: 20vh;
        aspect-ratio: 0.714285;

        background-image: url("../../../assets/cards/back_1.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }

    .custom-card {
        height: 20vh;
        aspect-ratio: 0.714285;

        // background-image: url("../../../assets/cards/back_1.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

}