<div class="klondike-container">
    <app-top-bar></app-top-bar>
    <div class="klondike-top-container">
        <div class="klondike-foundation-container">
            <div class="klondike-foundation-hearts">
                <div class="klondike-card"></div>
            </div>
            <div class="klondike-foundation-diamonds">
                <div class="klondike-card"></div>
            </div>
            <div class="klondike-foundation-spades">
                <div class="klondike-card"></div>
            </div>
            <div class="klondike-foundation-clubs">
                <div class="klondike-card"></div>
            </div>
        </div>
        <div class="klondike-deck-container">
            <div class="klondike-deck-stock">
                <div class="klondike-card">1</div>
                <div class="klondike-card">2</div>
                <div class="klondike-card">3</div>
            </div>
            <div class="klondike-deck-waste">
                <div class="klondike-card">4</div>
                <div class="klondike-card">5</div>
                <div class="klondike-card">6</div>
            </div>
        </div>
    </div>
    <div class="klondike-tableau-container">
        <div class=""klondike-tableau-1>
            <div class="klondike-card"></div>
        </div>
        <div class=""klondike-tableau-2>
            <div class="klondike-card"></div>
        </div>
        <div class=""klondike-tableau-3>
            <div class="klondike-card"></div>
        </div>
        <div class=""klondike-tableau-4>
            <div class="klondike-card"></div>
        </div>
        <div class=""klondike-tableau-5>
            <div class="klondike-card"></div>
        </div>
        <div class=""klondike-tableau-6>
            <div class="klondike-card"></div>
        </div>
        <div class=""klondike-tableau-7>
            <div class="klondike-card"></div>
        </div>
    </div>
</div>